body{
    background-color: var(--main-color);
}
.gotop{
    padding-left: 1vw;
    margin-top: 0;
    background-color: white;
    font-size: 1.5vw;
    color: var(--main-black);
    display: grid;
    text-decoration: none;
}
h2{
    font-size: 4vw;
    text-align: center;
    color: white;
}
.main{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2vw;
    color: white;
}
a{
    color:white;
}
.footeritem{
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    position: fixed;
    width: 100%;
    bottom: 2.4vw;
}
.footeritem>a{
    font-family: sans-serif;
    text-align: center;
    color: var(--main-black);
    text-decoration: none;
    border: .1vw solid var(--main-color);
    padding: .5vw;
    background-color: rgb(150,150,150);
    border-bottom: 0;
    border-top: 0;
}
footer>p{
    color: white;
    padding: 0.5vw;
    background-color: var(--main-black);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: -1vw;
}
.icon3{
    width: 30vw;
    position: absolute;
    left: 15vw;
    top: 7vw;
}
#title{
    position: absolute;
    left: 45vw;
    top: 9vw;
    font-size: 3vw;
}
#honbun{
    font-size: 1.5vw;    
    position: absolute;
    left: 40vw;
}
.twitter2{
    width: 3vw;
    position: absolute;
    left: 43.5vw;
    top: 25vw;
}
.youtube{
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(60%);
    width: 3vw;
    position: absolute;
    left: 48vw;
    top: 25.5vw;
}
.niconico{
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(35%) contrast(93%);
    width: 6vw;
    position: absolute;
    left: 51vw;
    top: 24.7vw;
}